@model  User

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayFor(model => model.Name)
            </th>

            
            <th>
                @Html.DisplayFor(model=>model.age)
            </th>
        </tr>
    </thead>
    
</table>